{% load django_tables2 django_tableaux %}
{% if table.select_name %}
{#  Selection columns occupies first column in first row #}
  {% for column, cell in row.items %}
    {% if forloop.counter == 1 %}
      <tr {{ row.attrs.as_html }}>
        <td>{{ cell }}</td>
        {% elif forloop.counter == 2 %}
        <th>{{ column.header }}</th>
        <td>{{ cell }}</td>
      </tr>
    {% else %}
      {% if column.name in table.columns_visible %}
      <tr {{ row.attrs.as_html }}>
        <td></td>
        <th>{{ column.header }}</th>
        <td>{{ cell }}</td>
      </tr>
        {% endif %}
    {% endif %}
  {% endfor %}
{% else %}
  {% for column, cell in row.items %}
    {% if column.name in table.columns_visible %}
    <tr {{ row.attrs.as_html }}>
      <th>{{ column.header }}</th>
      <td>{{ cell }}</td>
    </tr>
    {% endif %}
  {% endfor %}
{% endif %}


