{% load static %}
<div class="tableaux" id="{{ table.prefix }}tableaux" style="background-color: white;">
  {{ breakpoints|json_script:"breakpoints" }}
<form method="get" id="{{ table.prefix }}filter_form">
  <input type="hidden" name="page" value="{{ page }}">
  <input type="hidden" name="per_page" value="{{ per_page }}">
  <input type="hidden" name="order_by" value="{{ order_by }}">
  {% if view.has_filter_toolbar %}
    {% include templates.toolbar_filter %}
  {% endif %}
</form>
  {% if view.filter_pills and filters %}
    <div class="{{ css_toolbar }} d-flex">
      {% include templates.tb_filter_pills %}
    </div>
  {% endif %}
  {% if toolbar_visible %}
    <div class="{{ css_toolbar }}">
      {% include templates.toolbar_main %}
    </div>
  {% endif %}
  {% include templates.render_table %}
  {% include templates.render_paginator %}

  <div class="tableaux-overlay htmx-indicator" id="{{ table.prefix }}tableaux_overlay">
    <img src="{% static "django_tableaux/svg/grid.svg" %}">
  </div>
</div>

