{% load static %}
<div class="tableaux" data-controller="tableaux" data-prefix="{{ table.prefix }}" id="{{ table.prefix }}tableaux"
     data-url="{{ url }}" hx-get="{{ url }}" hx-trigger="tableauxResize from:body"
     hx-include="#{{ table.prefix }}filter_form, #{{ table.prefix }}modal_filter_form"
     hx-vals="js:{ search: JSON.stringify(Object.fromEntries(new URLSearchParams(window.location.search)))}"
     hx-swap="outerHTML"
     style="background-color: white;">
  {{ breakpoints|json_script:"breakpoints" }}
  <form id="{{ table.prefix }}filter_form" class="filter-form" hx-get="{{ url }}"
      {% if not view.filter_button %} hx-trigger="change from:#{{ table.prefix }}filter_form"{% endif %}>
    <input type="hidden" name="prefix" value="{{ table.prefix }}">
    <input type="hidden" name="~page" value="{{ page }}">
    <input type="hidden" name="~per_page" value="{{ per_page }}">
    <input type="hidden" name="~order_by" value="{{ order_by }}">
    <input type="hidden" name="~filter_data" value="{{ filter_data }}">
    <input type="hidden" name="bp" value="{{ bp }}"
        {#    <input type="hidden" name="query_string" value="{{ query_string }}"#}
    >
    {% include templates.toolbar_filter %}
    {% include templates.tb_filter_pills %}
  </form>
  {% if toolbar_visible %}
    <div class="{{ css_toolbar }}">
      {% include templates.toolbar_main %}
    </div>
  {% endif %}
  {% include templates.render_table %}
  {% include templates.render_paginator %}
  <div class="tableaux-overlay htmx-indicator" id="{{ table.prefix }}tableaux_overlay">
    <img src="{% static "django_tableaux/svg/grid.svg" %}">
  </div>
</div>

