{% load django_tables2 i18n %}
<div id="{{ table.prefix }}table_wrapper" style="overflow-x: auto;
    {% if view.fixed_height > 0 %} overflow-y: auto; max-height: {{ view.fixed_height }}px;{% endif %}">
<table {% if table.attrs.class %}{% render_attrs table.attrs %}{% else %}class="table" {% endif %}
         id="{{ table.prefix }}table" data-click="{{ view.click_action }}"
         data-url="{{ table.url }}"
         data-pk={{ table.pk }} data-target="{{ table.target }}">
    {% if view.caption %}
      <caption class="caption.attrs">{{ caption }}</caption>
    {% endif %}
    {% include templates.tableaux_header %}
    <tbody {{ table.attrs.tbody.as_html }} id="{{ table.prefix }}tbody">
    {% include templates.tableaux_rows %}
    </tbody>
    {% include templates.tableaux_footer %}
  </table>
</div>


