{% load django_tables2 django_tableaux %}
{% if table.show_header and not table.mobile %}
  {#  sort attributes and filter row #}
  <thead {{ table.attrs.thead.as_html }} style="margin: 0px;">
  <tr>
    {% for column in table.columns %}
      {% if column.name in table.columns_visible %}
        <th scope="col" {{ column.attrs.th.as_html }}
            {% if table.mobile %}
            {% if column.name != "selection" and column.name in table.columns_fixed %}colspan="2" {% endif %}
            {% else %}
            {% if column.name == "selection" %}style="width: 30px;" {% endif %}
            {% endif %}
            {% if column.orderable %}
              hx-target="#{{ table.prefix }}table_wrapper"
              hx-get="{{ url }}" hx-swap="outerHTML"
              id="{{ table.prefix }}~sort~{{ column.name|lower }}"
              title="Click to sort by {{ column.name|capfirst }}"
            {% endif %}>
          {% if column.name == "selection" %}
            <input type="checkbox" id="{{ table.prefix }}select_all_page" name="select_all_page" class="select-all-page select-checkbox"
            aria-label="Select all rows on this page">
          {% else %}
            <span style="display: inline-block;">
            {% if column.orderable %}
              {% if column.is_ordered %}
                {% if "-" in column.order_by.0 %}{{ column.header }} {% include templates.svg_sort_down %}{% else %}{{ column.header }}
                 {% include templates.svg_sort_up %}{% endif %}
              {% else %}
                {{ column.header }}<span style="color: lightgrey;"> {% include templates.svg_sortable %}</span>
              {% endif %}
            {% else %}
              &nbsp;&nbsp;{{ column.header }}
            {% endif %}
            </span>
          {% endif %}
        </th>
      {% endif %}
    {% endfor %}
  </tr>
  {% if table.filter.style == table.filter.style.HEADER %}
    <tr>
      {% for field in table.header_fields %}
        <td>
          {% if field %}
            {% include templates.tb_filter_field with field=field header=True %}
          {% endif %}
        </td>
      {% endfor %}
    </tr>
  {% endif %}
  </thead>
{% endif %}
