<div class="flex-display flex-between">
  {% if actions %}
    <div class="flex-display flex-start">
            {% include templates.dropdown_actions %}

    </div>
  {% endif %}
  <div class="flex-display {% if actions %}justify-content-middle{% else %}justify-content-start{% endif %}">
    <div class="d-sm-none d-lg-block">
      {% include templates.tb_buttons %}
    </div>
    <div class="flex-display flex-end">
      {% include templates.tb_filter_button %}
      {% include templates.dropdown_columns %}
      {% include templates.dropdown_rows %}
    </div>
  </div>
</div>
