<div class="d-flex justify-content-between align-items-center">
  {% if toolbar_areas.left %}
    <div class="d-flex align-items-center">
      {% for tpl in toolbar_areas.left %}{% include tpl %}{% endfor %}
    </div>
  {% endif %}
  {% if toolbar_areas.center %}
    <div class="d-flex align-items-center justify-content-center flex-grow-1">
      {% for tpl in toolbar_areas.center %}{% include tpl %}{% endfor %}
    </div>
  {% endif %}
  {% if toolbar_areas.right %}
    <div class="d-flex align-items-center justify-content-end">
      {% for tpl in toolbar_areas.right %}{% include tpl %}{% endfor %}
    </div>
  {% endif %}
</div>
