:root {
    --table-background: whitesmoke;
    --header-background: aquamarine;
    --header-color: darkgreen;
    --border-color: grey;
    --text-color: black;
    --tool-hover-color: #e8e8e8;
    --tool-background: #c9ddc9;
    --tool-active-background: #efefef;
    --tool-active-color: white;
    --tool-disabled-background: #d9f4d9;
    --tool-disabled-color: #8a8a8a;
}
.table-fixed tbody td,
.table-fixed thead>tr>th {
    float: left;
}

.table-fixed tbody{
    display: block;
    height: 300px;
    overflow-y: auto
}

.table-fixed tr{
    display: block;
}

.tableaux .table-wrapper {
    overflow: auto;
}

.tableaux .table {
    border-collapse: collapse;
    width: 100%
}

.tableaux th.orderable:hover {
    cursor: pointer;
    background-color: #eafcf8; /* Optional: A slightly lighter shade of the header for feedback */
}

/*.tableaux .sticky-header {*/
    th {
        position: sticky;
        top: 0;
    }


.tableaux th, .tableaux td {
    padding: 5px;
    text-align: left;
    border: 1px solid;
    border-color: var(--border-color);
}

.tableaux th {
    background-color: var(--header-background);
    color: #111;
}



.tableaux td {
    background-color: var(--table-background);
    color: var(--header-color);
}

.tableaux td.odd {
    background-color: yellow;
}

.tableaux td.even {
    background-color: orange;
}

.tableaux caption {
    caption-side: bottom;
    text-align: left;
}

.tableaux .pagination {
    text-align: center;
    margin: 10px 0;
}

.tableaux .pagination li {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
}

.tableaux .pagination li.active {
    background-color: var(--tool-active-background);
    color: var(--tool-active-color);
    cursor: default;
}

.tableaux .pagination li.inactive {
    cursor: default;
}

.tableaux .pagination li.disabled {
    cursor: default;
    color: var(--tool-disabled-color)
}

.tableaux .pagination li:hover:not(.active):not(.disabled):not(.inactive) {
    background-color: var(--tool-background);
    text-decoration: none;
    border-color: black;
    border: black;
}

.tableaux .td-edit {
    cursor: pointer;
}

.tableaux .td-edit:hover {
    background-color: floralwhite;
}

.tableaux tr:hover {
    background-color: floralwhite;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.fixed_headers {
    width: 100px;
    table-layout: fixed;
    border-collapse: collapse;

    th {
        text-decoration: underline;
    }


    /*
  td:nth-child(1), th:nth-child(1) { min-width: @column_one_width; }
  td:nth-child(2), th:nth-child(2) { min-width: @column_two_width; }
  td:nth-child(3), th:nth-child(3) { width: @column_three_width; }
  */

    th {
        background-color: #ddd;
        color: #fff;

        tr {
            display: block;
            position: relative;
        }
    }

    tbody {
        display: block;
        overflow: auto;
        width: 100%;
        /*height: 700px;*/

        tr:nth-child(even) {
            background-color: #ddd
        }
    }
}

.even {
    background-color: #ddd;
}

.odd {
    background-color: #ffffff;
}

/*
th.asc:after {
    content: '\0000a0\0025b2';
    float: right;
}
th.desc:after {
    content: '\0000a0\0025bc';
    float: right;
}
*/
.filter-pill {
    font-size: .9rem;
    background-color: deepskyblue;
    color: darkblue;
    padding: 3px 10px;
    border: 1px solid cadetblue;
    border-radius: 10px;
    margin-right: 10px;
}

.filter-value {
    color: white;
    padding: 5px;
}

.filter-clear {
    background-color: transparent;
    color: gray;
    border: 1px transparent;
}

.filter-clear:hover {
    cursor: pointer;
}

.filter-x {
    color: white;
}

.filter-x:hover {
    cursor: pointer;
}

.tableaux .dropdown {
    position: relative;
    display: inline-block;
}

.tableaux .dropdown select {
    background-color: var(--tool-background);
    color: var(--text-color);
    border: none;
    padding: 0.4rem;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
}

.tableaux .dropdown select:hover {
    background-color:var(--tool-active-background);
}

.tableaux .select-list {
    .select-title {
        display: inline-block;
        cursor: pointer;
        background: #fff;
        border: 1px solid #808080;
        border-radius: 3px;
        padding: 5px 10px 5px 10px;
        margin-left: 5px;

        &::after {
            display: inline-block;
            content: '>';
            margin-left: 15px;
            font-size: 9px;
            transform: rotate(90deg) scale(1.5, 2) translate(-2px, 0);
        }

        &:hover {
            background: #eaeaea;
        }
    }

    .select-options {
        margin-top: 5px;
        display: none;
        position: absolute;
        z-index: 500;
        border: 1px solid #808080;
        border-radius: 5px;
        background: #fff;

        .select-option {
            line-height: 1;
            padding: 5px 5px 5px 5px;

            label {
                display: inline-block;
            }

            &:hover {
                background: #eaeaea;
            }

            input {
                margin: 0px 5px 0px 5px;
            }
        }
    }

    .selected {
        background: #a0f0f0;
    }

    .opened {
        display: block;
    }
}

.flex-display {
    display: flex;
    margin: 2px 0 2px 0;
}

.flex-row {
    flex-direction: row;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-between {
    justify-content: space-between;
}

