.dt-table {
    table {
        border-collapse: collapse;
        width: 100%
    }

    th, td {
        padding: 5px;
        text-align: left;
        border: 1px solid;
        border-color: grey;
    }

    th {
        background-color: #ddd;
        color: #111;
    }

    td {
        background-color: aquamarine;
        color: darkgreen;
    }
}

.sticky-header {
    thead {
        position: sticky;
        top: -1px;
    }
}

.fixed_headers {
    width: 100px;
    table-layout: fixed;
    border-collapse: collapse;

    th {
        text-decoration: underline;
    }


    /*
  td:nth-child(1), th:nth-child(1) { min-width: @column_one_width; }
  td:nth-child(2), th:nth-child(2) { min-width: @column_two_width; }
  td:nth-child(3), th:nth-child(3) { width: @column_three_width; }
  */

    th {
        background-color: #ddd;
        color: #fff;

        tr {
            display: block;
            position: relative;
        }
    }

    tbody {
        display: block;
        overflow: auto;
        width: 100%;
        /*height: 700px;*/

        tr:nth-child(even) {
            background-color: #ddd
        }
    }
}


th.asc:after {
    content: '\0000a0\0025b2';
    float: right;
}


.filter-pill {
    font-size: .9rem;
    background-color: deepskyblue;
    color: darkblue;
    padding: 3px 10px;
    border: 1px solid cadetblue;
    border-radius: 10px;
    margin-right: 10px;
}

.filter-value {
    color: white;
    padding: 5px;
}

.filter-clear {
    background-color: transparent;
    color: gray;
    border: 1px transparent;
}

.filter-clear:hover {
    cursor: pointer;
}

.filter-x {
    color: white;
}

.filter-x:hover {
    cursor: pointer;
}

th.desc:after {
    content: '\0000a0\0025bc';
    float: right;
}

.td-edit {
    cursor: pointer;
}

.td-edit:hover {
    background-color: floralwhite;
}

tr:hover {
    cursor: pointer;
    background-color: floralwhite;
}

.select-list {
    .select-title {
        display: inline-block;
        cursor: pointer;
        background: #fff;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;

        &::after {
            display: inline-block;
            content: '>';
            margin-left: 15px;
            font-size: 11px;
            transform: rotate(90deg) scale(1.5, 2) translate(-2px, 0);
        }

        &:hover {
            background: #eaeaea;
        }
    }

    .select-options {
        margin-top: 5px;
        display: none;
        position: absolute;
        z-index: 500;
        border: 1px solid #808080;
        border-radius: 5px;
        background: #fff;

        .select-option {
            line-height: 1;
            padding: 5px 5px 5px 5px;

            label {
                display: inline-block;
            }

            &:hover {
                background: #eaeaea;
            }

            input {
                margin: 0px 5px 0px 5px;
            }
        }
    }
    .selected{
            background: #a0f0f0;
        }
    .opened {
        display: block;
    }
}
