.tableaux {
    position: relative;
}

.tableaux .table-wrapper {
    overflow-y: scroll;
    max-height: 300px;
    border-bottom: 1px;
}

.tableaux .table {
    border-collapse: separate;
    border-spacing: 0px;
    width: 100%
}

.tableaux th.orderable:hover {
    cursor: pointer;
}

.tableaux .sticky th {
    position: sticky;
    top: 0;
    background-color: white;
}

.tableaux .form-control.is-valid {
    background-image: none;
    border-color: #cfd4da;
}

button.close {
    border: none;
    background: none;
    font-size: xx-large;
}

.tableaux-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.4);
  z-index: 20;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}

.htmx-request.tableaux-overlay {
    display: flex;
}

/*!* optional dimming *!*/
/*.htmx-request ~ .my-table {*/
/*    opacity: 0.5;*/
/*    pointer-events: none;*/
/*}*/

/*.container {*/
/*    width: 100%;*/
/*    padding-right: 15px;*/
/*    padding-left: 15px;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*}*/

/*@media (min-width: 576px) {*/
/*    .container {*/
/*        max-width: 540px;*/
/*    }*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .container {*/
/*        max-width: 720px;*/
/*    }*/
/*}*/

/*@media (min-width: 992px) {*/
/*    .container {*/
/*        max-width: 960px;*/
/*    }*/
/*}*/

/*@media (min-width: 1200px) {*/
/*    .container {*/
/*        max-width: 1140px;*/
/*    }*/
/*}*/

/*.container-fluid {*/
/*    width: 100%;*/
/*    padding-right: 15px;*/
/*    padding-left: 15px;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*}*/


