.tableaux .table-wrapper {
    overflow-y: scroll;
    max-height: 300px;
    border-bottom: 1px;
}

.tableaux .table {
    border-collapse: separate;
    border-spacing: 0px;
    width: 100%
}

.tableaux th.orderable:hover {
    cursor: pointer;
}

.tableaux .sticky th {
    position: sticky;
    top: 0;
    background-color: white;
}

.tableaux .form-control.is-valid {
    background-image: none;
    border-color: #cfd4da;
}
button.close {
    border: none;
    background: none;
    font-size: xx-large;
}
/*.tableaux th {*/
/*    position: sticky;*/
/*    top: 0px;*/
/*    background-color: white;*/
/*}*/

/*.table-wrapper {*/
/*    max-height: 300px;*/
/*    overflow-y: scroll;*/
/*}*/

/*th, td {*/
/*    border: 1px solid black;*/
/*    padding: 5px 5px 5px 5px;*/
/*}*/

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


