{% if view.filterset_class and view.filter_style == 1 %}
    <div class="{{ css_toolbar }}">
      {% include "django_tableaux/filter_toolbar.html" %}
    </div>
  {% endif %}
  <form hx-post="" hx-target="#modals-here">
    {% csrf_token %}
    {% if actions or buttons or table.column_states or view.filterset_class and view.filter_modal %}
      <div class="{{ css_toolbar }}">
        {% include "django_tableaux/toolbar/main.html" %}
      </div>
    {% endif %}
    <div id="table_data" class="{{ css_table }}">
      {% include "django_tableaux/render_table_data.html" %}
    </div>
  </form>