  <style>
    {% if view.sticky_header %}
        thead {
            position: sticky;
            top: 0;
        }
    {% endif %}

    th.asc:after {
        content: '\0000a0\0025b2';
        float: right;
    }

    th.desc:after {
        content: '\0000a0\0025bc';
        float: right;
    }
    .td_edit {
        cursor: pointer;
    }
    .td_edit:hover {
        background-color: floralwhite;
    }
    {% if view.click_url_name %}
      tr:hover {
        cursor: pointer;
        background-color: floralwhite;
      }
    {% endif %}
  </style>
