{% load bootstrap4 %}
{% if filter.style == filter.style.TOOLBAR %}
  <form id="id_filter_form" hx-target="#table_data">
    {{ filter.form.media }}
    <input type="hidden" name="per_page" value="{{ per_page }}">
    <div class="d-flex">
      {% for field in filter.form.visible_fields %}
        {% if filter_button %}
          {% bootstrap_field field form_group_class="form-group pl-2 pt-2" label_class="small mb-0" placeholder="" %}
        {% else %}
          {% bootstrap_field field form_group_class="form-group pl-2 pt-2 auto-submit" label_class="small mb-0" placeholder="" %}
        {% endif %}
      {% endfor %}
      {% if filter_button %}
        <div class="form-group pl-2 pt-2">
          <label for="id_filter_button"></label>
          <button type="submit" class="form-control btn btn-primary" style="width:150px; display: block;" id="id_filter_button">
            Filter
          </button>
        </div>
      {% endif %}
    </div>
  </form>
{% endif %}