{% extends "django_tableaux/modal_base.html" %}
{% block modal_title %}
<h3>Movie detail modal</h3>
{% endblock %}
{% block modal_body %}
<table class="table table-sm">
  <tr><td>Title </td><td>{{ movie.title }}</td></tr>
  <tr><td>Budget </td><td>{{ movie.title }}</td></tr>
  <tr><td>Popularity </td><td>{{ movie.popularity }}</td></tr>
  <tr><td>Release_date </td><td>{{ movie.release_date }}</td></tr>
  <tr><td>Revenue </td><td>{{ movie.revenue }}</td></tr>
  <tr><td>Runtime </td><td>{{ movie.runtime }}</td></tr>
</table>
{% endblock %}