{% extends "movies/base.html" %}
{% load bootstrap4 static %}
{% block head %}
  {% include "django_tableaux/block_head.html" %}
{% endblock %}
{% block content %}
  <div class="container">
    <h3 class="text-center">{{ view.title }}</h3>
    <div id="messages">
    {% bootstrap_messages %}
    </div>
    {% include "django_tableaux/block_content.html" %}
  </div>
  <script src="{% static "htmx1.9.1.min.js" %}"></script>
  <script src="{% static "django_tableaux/js/django_tableaux.js" %}"></script>
{% endblock %}