<style>
  {% if view.sticky_header %}
      thead {
          position: sticky;
          top: -1px;
      }
  {% endif %}

.fixed_headers {
  width: 100px;
  //table-layout: fixed;
  border-collapse: collapse;

  th { text-decoration: underline; }
  th, td {
    padding: 5px;
    text-align: left;
    border: 1px solid;
  }
    /*
  td:nth-child(1), th:nth-child(1) { min-width: @column_one_width; }
  td:nth-child(2), th:nth-child(2) { min-width: @column_two_width; }
  td:nth-child(3), th:nth-child(3) { width: @column_three_width; }
  */

  thead {
    background-color: #ddd;
    color: #fff;
    tr {
      display: block;
      position: relative;
    }
  }
  tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 500px;
    tr:nth-child(even) {
      background-color: #ddd
    }
  }
}


  th.asc:after {
      content: '\0000a0\0025b2';
      float: right;
  }


  .filter-pill {
      font-size: .9rem;
      background-color: deepskyblue;
      color: darkblue;
      padding: 3px 10px;
      border: 1px solid cadetblue;
      border-radius: 10px;
      margin-right: 10px;
  }

  .filter-value {
      color: white;
      padding: 5px;
  }

  .filter-clear {
      background-color: transparent;
      color: gray;
      border: 1px transparent;
  }

  .filter-clear:hover {
      cursor: pointer;
  }

  .filter-x {
      color: white;
  }

  .filter-x:hover {
      cursor: pointer;
  }

  th.desc:after {
      content: '\0000a0\0025bc';
      float: right;
  }

  .td-edit {
      cursor: pointer;
  }

  .td-edit:hover {
      background-color: floralwhite;
  }

  {% if view.click_url_name %}
      tr:hover {
          cursor: pointer;
          background-color: floralwhite;
      }
  {% endif %}
</style>
